.box{
    border-radius: 60px;
    color: rgb(25, 83, 134);
    height: fit-content;
    width: fit-content;
    background-color: gray;
    padding: 30px;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 23%;
    right: 35%;
}
button{
    font-size: 20px;
    border-radius: 20px;
    padding: 8px;
    border-color: transparent;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
